<h1>MTG Collage</h1>
<iframe src="//users.instush.com/mini/?user_id=2284926985&username=mtg_collage&sid=-1&susername=-1&tag=-1&stype=mine&t=999999mMtAGsWqR42rxUFTNEyyC4shjr-S-a8TnN4NOYO55SERVet3l3aSJWdSjADVxOw0vuD5MP3imCA" allowtransparency="true" frameborder="0" scrolling="no"  style="display:block;width:612px;height:612px;border:none;overflow:visible;" ></iframe>
<h1>Top Placing Decks</h1>
  <a href="http://www.mtgtop8.com/event?e=8004&d=246079&f=MO"><h2>2014 Modern State Championships - California</h2></a>
  <h3>Birthing Pod - 6th Place</h3>
    <div class="deck-list">

      3 Forest
      3 Gavony Township
      1 Godless Shrine
      4 Misty Rainforest
      2 Overgrown Tomb
      3 Razorverge Thicket
      1 Swamp
      1 Temple Garden
      4 Verdant Catacombs
      1 Woodland Cemetery
      4 Birds of Paradise
      1 Cartel Aristocrat
      1 Eternal Witness
      4 Kitchen Finks
      1 Linvala, Keeper of Silence
      1 Melira, Sylvok Outcast
      1 Murderous Redcap
      1 Nekrataal
      3 Noble Hierarch
      1 Orzhov Pontiff
      1 Qasali Pridemage
      1 Ranger of Eos
      1 Restoration Angel
      1 Reveillark
      1 Scavenging Ooze
      1 Sin Collector
      1 Spellskite
      1 Viscera Seer
      2 Voice of Resurgence
      1 Wall of Roots
      2 Abrupt Decay
      2 Chord of Calling
      4 Birthing Pod

      Sideboard

      1 Abrupt Decay
      1 Aven Mindcensor
      1 Burrenton Forge-Tender
      1 Eidolon of Rhetoric
      1 Entomber Exarch
      1 Kataki, War's Wage
      2 Path to Exile
      1 Reclamation Sage
      1 Scavenging Ooze
      1 Slaughter Pact
      4 Thoughtseize

  </div>

    <a href="http://www.hareruyamtg.com/en/k/kD17648S/"><h2>North America Eternal Weekend - Vintage Championship 2016</h2></a>
      <h3>Oath of Druids- 24th Place</h3>
        <div class="deck-list">
          4	Forbidden Orchard
          1	Island
          1	Library of Alexandria
          1	Misty Rainforest
          1	Polluted Delta
          2	Scalding Tarn
          1	Strip Mine
          1	Tolarian Academy
          2	Tropical Island
          2	Underground Sea
          2	Griselbrand
          1	Sphinx of the Steel Wind
          1	Ancestral Recall
          1	Brainstorm
          1	Demonic Consultation
          1	Dig Through Time
          2	Flusterstorm
          4	Force of Will
          4	Mental Misstep
          2	Mindbreak Trap
          1	Vampiric Tutor
          1	Demonic Tutor
          1	Merchant Scroll
          1	Ponder
          1	Show and Tell
          1	Time Walk
          1	Tinker
          1	Toxic Deluge
          1	Yawgmoth's Will
          4	Oath of Druids
          1	Black Lotus
          1	Engineered Explosives
          1	Lotus Petal
          1	Mana Crypt
          1	Mox Emerald
          1	Mox Jet
          1	Mox Pearl
          1	Mox Ruby
          1	Mox Sapphire
          1	Sol Ring
          1	Time Vault
          1	Voltaic Key

          Sideboard

          2	Yixlid Jailer
          2	Abrupt Decay
          1	Hurkyl's Recall
          3	Nature's Claim
          1	Toxic Deluge
          3	Energy Flux
          3	Leyline of the Void
        </div>

    <a href="https://mtgdecks.net/Vintage/oath-decklist-by-ibrahim-aldridge-72384"><h2>Eudemonia Vintage April 20, 2014</h2></a>
      <h3>Oath of Druids - Top 4</h3>
        <div class="deck-list">

          1x Ancestral Recall
          1x Ancient Grudge
          1x Black Lotus
          1x Blightsteel Colossus
          1x Brainstorm
          1x City of Brass
          1x Demonic Tutor
          1x Dragon Breath
          1x Emrakul, the Aeons Torn
          1x Flusterstorm
          4x Forbidden Orchard
          4x Force of Will
          2x Griselbrand
          1x Island
          1x Jace, the Mind Sculptor
          1x Library of Alexandria
          1x Mana Crypt
          2x Mana Drain
          2x Mental Misstep
          4x Misty Rainforest
          1x Mox Emerald
          1x Mox Jet
          1x Mox Pearl
          1x Mox Ruby
          1x Mox Sapphire
          1x Mystic Remora
          1x Mystical Tutor
          4x Oath of Druids
          1x Ponder
          1x Sensei's Divining Top
          1x Show and Tell
          1x Sol Ring
          1x Spell Pierce
          1x Strip Mine
          1x Swan Song
          1x Thoughtseize
          1x Time Vault
          1x Tinker
          1x Tolarian Academy
          2x Underground Sea
          1x Vampiric Tutor
          1x Voltaic Key
          1x Yawgmoth's Will

          Sideboard

          1  Abrupt Decay
          1  Ancient Grudge
          1  Flusterstorm
          1  Forest
          1  Hurkyl's Recall
          1  Mindbreak Trap
          2  Mystic Remora
          2  Nature's Claim
          2  Show and Tell
          1  Swan Song
          1  Volcanic Spray

      </div>

    <a href="https://mtgdecks.net/Vintage/oath-decklist-by-ibrahim-aldridge-235625"><h2> Eudemonia May Vintage  -  May3, 2015 </h2></a>
      <h3>Oath of Druids - Top 8</h3>

      <div class="deck-list">

        1  Blightsteel Colossus
        2  Griselbrand
        1  Black Lotus
        1  Lotus Petal
        1  Mana Crypt
        1  Mana Vault
        1  Mox Emerald
        1  Mox Jet
        1  Mox Pearl
        1  Mox Ruby
        1  Mox Sapphire
        1  Sol Ring
        1  Time Vault
        1  Voltaic Key
        1  Abrupt Decay
        1  Ancestral Recall
        1  Brainstorm
        1  Demonic Consultation
        1  Dig Through Time
        2  Flusterstorm
        4  Force of Will
        1  Mana Drain
        4  Mental Misstep
        1  Thirst for Knowledge
        1  Vampiric Tutor
        1  Demonic Tutor
        1  Imperial Seal
        1  Merchant Scroll
        1  Ponder
        1  Time Walk
        1  Tinker
        1  Yawgmoth's Will
        4  Oath of Druids
        1  Dack Fayden
        1  Jace, the Mind Sculptor
        4  Forbidden Orchard
        1  Library of Alexandria
        3  Misty Rainforest
        1  Strip Mine
        1  Tolarian Academy
        2  Tropical Island
        2  Underground Sea

        Sideboard

        2  Abrupt Decay
        1  Energy Flux
        1  Forest
        4  Leyline of the Void
        2  Nature's Claim
        1  The Tabernacle at Pendrell Vale
        1  Trygon Predator
        2  Yixlid Jailer

      </div>


      <a href="https://mtgdecks.net/Standard/angel-delver-decklist-by-ibrahim-aldridge-34153"><h2>Super SCG Invitational Qualifier -  24-Jun-2012</h2></a>
        <h3>Angel Delver - Top 8</h3>

        <div class="deck-list">
          4  Delver of Secrets
          4  Geist of Saint Traft
          1  Phantasmal Image
          4  Restoration Angel
          4  Snapcaster Mage
          1  Sword of Feast and Famine
          2  Sword of War and Peace
          1  Dismember
          1  Faith's Shield
          2  Gut Shot
          4  Mana Leak
          4  Vapor Snag
          4  Gitaxian Probe
          4  Ponder
          2  Cavern of Souls
          4  Glacial Fortress
          8  Island
          2  Moorland Haunt
          4  Seachrome Coast

          Sideboard

          3  Celestial Purge
          2  Dissipate
          2  Divine Offering
          2  Gideon Jura
          1  Gut Shot
          1  Revoke Existence
          2  Surgical Extraction
          2  Timely Reinforcements

        </div>
