<h1>Top Placing Decks</h1>
  <a href="http://www.mtgtop8.com/event?e=8004&d=246079&f=MO"<h2>2014 Modern State Championships - California</h2></a>
  <h2>Birthing Pod - 6th Place</h2>
  <div class="deck-list">

    3 Forest
    3 Gavony Township
    1 Godless Shrine
    4 Misty Rainforest
    2 Overgrown Tomb
    3 Razorverge Thicket
    1 Swamp
    1 Temple Garden
    4 Verdant Catacombs
    1 Woodland Cemetery
    4 Birds of Paradise
    1 Cartel Aristocrat
    1 Eternal Witness
    4 Kitchen Finks
    1 Linvala, Keeper of Silence
    1 Melira, Sylvok Outcast
    1 Murderous Redcap
    1 Nekrataal
    3 Noble Hierarch
    1 Orzhov Pontiff
    1 Qasali Pridemage
    1 Ranger of Eos
    1 Restoration Angel
    1 Reveillark
    1 Scavenging Ooze
    1 Sin Collector
    1 Spellskite
    1 Viscera Seer
    2 Voice of Resurgence
    1 Wall of Roots
    2 Abrupt Decay
    2 Chord of Calling
    4 Birthing Pod

    Sideboard

    1 Abrupt Decay
    1 Aven Mindcensor
    1 Burrenton Forge-Tender
    1 Eidolon of Rhetoric
    1 Entomber Exarch
    1 Kataki, War's Wage
    2 Path to Exile
    1 Reclamation Sage
    1 Scavenging Ooze
    1 Slaughter Pact
    4 Thoughtseize



  </div>
